# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environment
venv/
.env

# Environment variables
.env.*
# Do not ignore blueprint file
!.env.example

# VS Code
.vscode/

# Alembic
alembic/versions/__pycache__/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

#Testing
.coverage
htmlcov/
pytest_practice/